h1{color: orange;
     font-family:serif;
    
}
h2{
    font-family: sans-serif;
    text-align: right;
}
.A{font-family: Arial, Helvetica, sans-serif;}
.B{font-family: courier New;
text-align: right}