.container{
width: fit-content;    
display: flex;
position: relative;
border: 2px dotted black;


}
.absolute{
    position: absolute;
    top: 15px;
    left: 20px;
}
.relative{
    position:relative;
    top: 15px;
    left: 20px;
             border: none;

}
 .container .green {
    background-color: green;
    border: none;
           

} 
.box{
     width: 100px;
    height: 100px;   
    box-sizing: border-box;
    border-right: 4px solid white;}

h3{font-weight: 200;}

.L{
         border-right: none;

}
.red{
    background-color: red;
}
