.A{
    display: grid;
   grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 10px solid #e0aa00;
    width: 100%;
    height: 100vh;
    font-size: 100px;
    color: white;
     
    
    
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;}



.one {
    
    background-color: green;
}

.two {
    background-color: yellow;
}

.three {
    background-color: purple;
}

.four {
    background-color: gray;
}

.five {
    background-color: blue;
}

.six {
    background-color: orange;
}

.seven {
    background-color: pink;
}

.eight {
    background-color: red;
}

.nine {
    background-color: brown;
}
.ten{
    background-color: aqua;
}