.container{
display: flex;
gap: 10px;


}
.container div {
    width: 260px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
 }


    .flex  {
    margin-bottom: 0;
    background-color: black;
    color: white;
    padding:10px;
    margin-top: auto;
    
    }
h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 28px;
}
